a.active hr{
  display: block;
}

*{
  box-sizing: border-box;
  margin: 0px;
}

/* /// Background Animation /// */

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 25s ease-in-out infinite;
}

@keyframes color{
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}
